:root {
	--primary-text: 2.4rem;
	--secondary-text: 1.4rem;
	--off-white: #faf8f7;
	--just-white: #fff;
	--tomate: #ca2521;
	--pepperoni: #61120e;
	--border-color: #a7a7a766;
	--solid-grey: #e4e4e4;
	--bright-orange: #d68d2a;
	--dark-orange: #eca442;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	font-family: 'Lato', sans-serif;
	scroll-behavior: smooth;
}

h2 {
	width: 100%;
	padding-top: 55px;
	font-size: var(--primary-text);
	font-weight: 700;
	color: var(--off-white);
	text-align: center;
}

.header {
	width: 100%;
	min-width: 320px;
	height: auto;
	padding: 15px 0;
	display: flex;
	position: relative;
	overflow: hidden;
	justify-content: space-around;
	border-bottom: 1px solid #cecece;
	background-image: url('../images/menu-background.webp');
}

.header__logo {
	width: 60px;
	height: auto;
	transform: rotate(-90deg);
}

.header__nav {
	display: none;
}

.header__nav > a {
	width: 100%;
	display: block;
	padding: 4px 0;
	font-size: var(--secondary-text);
	color: black;
	text-decoration: none;
}

.overlay {
	position: absolute;
	width: 100%;
	height: inherit;
	background-color: rgba(21, 21, 21, 0.25);
}

.intro {
	width: 100%;
	min-width: 320px;
	height: 300px;
	position: relative;
	display: flex;
	align-items: center;
	margin: 0 auto;
	background-image: url(../images/pizza-intro-hero.webp);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.intro__title {
	position: absolute;
	padding: 0 15px;
	font-size: var(--primary-text);
	font-weight: 700;
	line-height: 3rem;
	text-align: center;
	color: var(--off-white);
}

.intro__link {
	width: 150px;
	height: 35px;
	position: absolute;
	font-size: var(--secondary-text);
	font-weight: 700;
	line-height: 3rem;
	text-align: center;
	text-decoration: none;
	color: black;
	top: calc(100% - 18px);
	left: calc(50% - 75px);
	background-color: var(--off-white);
	border: 1px solid var(--border-color);
	border-radius: 4px;
	box-shadow: 0px 4px 8px rgb(89 73 30 / 16%);
}

.intro__link > span {
	display: inline-block;
	width: 13px;
	height: 8px;
	margin-left: 10px;
	background-image: url(../icons/down-arrow.svg);
}

.about-us {
	width: 100%;
	min-width: 320px;
	height: 400px;
	background-color: var(--bright-orange);
}

.about-us__slider {
	display: flex;
	overflow-x: scroll;
	overscroll-behavior-x: none;
	scroll-snap-type: x proximity;
	scroll-snap-align: center;
	padding-top: 25px;
}

.about-us__slider::before,
.about-us__slider::after {
	content: '';
	flex: 0 0 30px;
}

.about-us__slider::-webkit-scrollbar {
	background-color: var(--dark-orange);
	height: 3px;
}

.about-us__slider::-webkit-scrollbar-thumb {
	background-color: var(--solid-grey);
}

.about-us__card {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 70%;
	min-width: 230px;
	max-width: 300px;
	height: 250px;
	min-height: auto;
	margin: 10px 16px;
	padding: 0 15px;
	background-color: var(--just-white);
	border-radius: 8px;
	box-shadow: 0px 4px 8px rgb(89 73 30 / 16%);
	scroll-snap-align: center;
}

.about-us__card img {
	width: 120px;
	height: 85px;
	padding-top: 20px;
}

.about-us__card--title {
	padding-top: 15px;
	font-size: var(--primary-text);
	font-weight: 700;
	line-height: 2rem;
	color: var(--tomate);
}

.about-us__card--description {
	padding-top: 10px;
	font-size: var(--secondary-text);
	font-weight: 400;
	line-height: 2rem;
	text-align: justify;
	color: var(--pepperoni);
}

.location {
	width: 100%;
	min-width: 320px;
	height: auto;
	display: flex;
	flex-direction: column;
	background: rgb(214, 141, 42);
	background: linear-gradient(
		180deg,
		rgba(214, 141, 42, 1) 0%,
		rgba(182, 127, 51, 1) 75%,
		rgba(116, 81, 33, 1) 100%
	);
}

h2.location__title {
	padding-top: 35px;
}

.location__card {
	width: 70%;
	margin: 0 auto;
	padding: 25px 0;
}

.location__card--description {
	padding-top: 15px;
	font-size: var(--secondary-text);
	font-weight: 400;
	line-height: 1.5rem;
	text-align: center;
	color: var(--off-white);
}

.menu {
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 20px;
	padding-bottom: 32px;
	background-image: url('../images/menu-background.webp');
	background-position: center;
}

.menu__title {
	font-size: var(--primary-text);
	color: var(--pepperoni);
}

.menu-container {
	width: 100%;
	max-width: 997px;
	display: flex;
	flex-wrap: wrap;
}

.menu-item {
	width: 320px;
	max-width: 320px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 15px;
	margin: 10px auto;
	background-color: rgba(115, 115, 115, 0.4);
	border-radius: 15px;
}

.menu-item:hover {
	transform: scale(1.06);
	background-color: rgba(115, 115, 115, 0.6);
	transition: all 0.3s;
}

.menu-item__title {
	margin: 8px 0;
	font-size: var(--primary-text);
	font-weight: 700;
	color: var(--tomate);
}

.menu-item__description {
	font-size: var(--secondary-text);
	font-weight: 400;
	line-height: 1.8rem;
	color: var(--pepperoni);
	text-align: justify;
}

.btn-control {
	width: 100%;
	max-width: 350px;
	height: 45px;
	background-color: var(--dark-orange);
	border: 1px solid var(--solid-grey);
	border-radius: 12px;
	text-decoration: none;
}

.btn-control > p {
	width: 100%;
	height: 45px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: var(--secondary-text);
	color: var(--pepperoni);
}

.contact-us {
	width: 100%;
	min-width: 280px;
	height: auto;
	background: rgb(224, 224, 224);
	background: linear-gradient(
		180deg,
		rgba(224, 224, 224, 1) 15%,
		rgba(186, 186, 186, 1) 66%
	);
}

.contact-us__title {
	color: var(--tomate);
}

.contact-us__form {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 16px;
	color: var(--pepperoni);
}

.form-control {
	width: 100%;
	min-width: 280px;
	max-width: 350px;
	position: relative;
	margin: 20px 0 40px;
}

.form-control textarea {
	resize: none;
}

.form-control input,
.form-control textarea {
	background-color: transparent;
	border: 0;
	border-bottom: 2px solid var(--pepperoni);
	display: block;
	width: 100%;
	padding: 15px 0;
	font-size: 18px;
}

.form-control input:focus,
.form-control input:valid,
.form-control textarea:focus,
.form-control textarea:valid {
	outline: 0;
	border-bottom-color: var(--pepperoni);
}

.form-control label {
	position: absolute;
	top: 15px;
	left: 0;
	pointer-events: none;
}

.form-control label span {
	display: inline-block;
	font-size: 18px;
	min-width: 5px;
	transition: 0.3s cubic-bezier(0.68, -0.55, 0.99, 1.55);
}

.form-control input:focus + label span,
.form-control input:valid + label span,
.form-control textarea:focus + label span,
.form-control textarea:valid + label span {
	color: var(--pepperoni);
	transform: translateY(-30px);
}

footer {
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
	background-color: #bababa;
}

.footer__title {
	font-size: var(--primary-text);
	font-weight: 700;
	color: var(--tomate);
	text-align: center;
}

.footer__author {
	padding: 16px;
	font-size: var(--primary-text);
	font-weight: 400;
	line-height: 1rem;
	color: var(--pepperoni);
	text-align: center;
}

.footer__links {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.footer__links a {
	width: 190px;
	display: flex;
	justify-content: space-around;
	padding: 5px 0;
	margin-bottom: 10px;
	position: relative;
	font-size: var(--primary-text);
	color: var(--off-white);
	text-decoration: none;
	border-radius: 8px;
}

.footer__links a:nth-child(2) {
	margin-right: 10px;
	margin-left: 10px;
}

.footer__links span {
	width: 40px;
	position: absolute;
	top: calc(50% - 17px);
	left: 20px;
	font-size: 1.8rem;
	border-radius: 4px 0 0 4px;
	padding-top: 6px;
	color: white;
}

.footer__links p {
	width: 150px;
	text-align: center;
}
.github {
	background-color: #898f9c;
}

.twitter {
	background-color: #55acee;
}

.linkedin {
	background-color: #0e76a8;
}
