:root {
	--primary-text: 2.4rem;
	--secondary-text: 1.4rem;
	--off-white: #faf8f7;
	--just-white: #fff;
	--tomate: #ca2521;
	--pepperoni: #61120e;
	--border-color: #a7a7a766;
	--solid-grey: #e4e4e4;
	--bright-orange: #d68d2a;
	--dark-orange: #eca442;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	font-family: 'Lato', sans-serif;
	scroll-behavior: smooth;
}

h2 {
	width: 100%;
	padding-top: 55px;
	font-size: var(--primary-text);
	font-weight: 700;
	color: var(--off-white);
	text-align: center;
}

.header {
	width: 100%;
	min-width: 320px;
	height: auto;
	padding: 15px 0;
	display: flex;
	position: relative;
	overflow: hidden;
	justify-content: space-around;
	border-bottom: 1px solid #cecece;
	background-color: var(--solid-grey);
}

.header__logo {
	width: 60px;
	height: auto;
	transform: rotate(-90deg);
}

.header__nav {
	display: none;
}

.header__nav > a {
	width: 100%;
	display: block;
	padding: 4px 0;
	font-size: var(--secondary-text);
	color: black;
	text-decoration: none;
}

.overlay {
	position: absolute;
	width: 100%;
	height: inherit;
	background-color: rgba(21, 21, 21, 0.25);
}

.intro {
	width: 100%;
	min-width: 320px;
	height: 300px;
	position: relative;
	display: flex;
	align-items: center;
	margin: 0 auto;
	background-image: url(../images/pizza-intro-hero.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;	
}

.intro__title {
	position: absolute;
	padding: 0 15px;
	font-size: var(--primary-text);
	font-weight: 700;
	line-height: 3rem;
	text-align: center;
	color: var(--off-white);
}

.intro__link {
	width: 150px;
	height: 35px;
	position: absolute;
	font-size: var(--secondary-text);
	font-weight: 700;
	line-height: 3rem;
	text-align: center;
	text-decoration: none;
	color: black;
	top: calc(100% - 18px);
	left: calc(50% - 75px);
	background-color: var(--off-white);
	border: 1px solid var(--border-color);
	border-radius: 4px;
	box-shadow: 0px 4px 8px rgb(89 73 30 / 16%);
}

.intro__link > span {
	display: inline-block;
	width: 13px;
	height: 8px;
	margin-left: 10px;
	background-image: url(../icons/down-arrow.svg);
}

.about-us {
	width: 100%;
	min-width: 320px;
	height: 400px;
	background-color: var(--bright-orange);
}

.about-us__slider {
	display: flex;
	overflow-x: scroll;
	overscroll-behavior-x: contain;
	overscroll-behavior-x: none;
	scroll-snap-type: x proximity;
	scroll-snap-align: center;
	padding-top: 25px;
}

.about-us__slider::before,
.about-us__slider::after {
	content: '';
	flex: 0 0 30px;
}

.about-us__slider::-webkit-scrollbar {
	background-color: var(--dark-orange);
	height: 3px;
}

.about-us__slider::-webkit-scrollbar-thumb {
	background-color: var(--solid-grey);
}

.about-us__card {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 70%;
	min-width: 230px;
	max-width: 300px;
	height: 250px;
	min-height: auto;
	margin: 10px 16px;
	padding: 0 15px;
	background-color: var(--just-white);
	border-radius: 8px;
	box-shadow: 0px 4px 8px rgb(89 73 30 / 16%);
	scroll-snap-align: center;
}

.about-us__card img {
	width: 120px;
	height: 85px;
	padding-top: 20px;
}

.about-us__card--title {
	padding-top: 15px;
	font-size: var(--primary-text);
	font-weight: 700;
	line-height: 2rem;
	color: var(--tomate);
}

.about-us__card--description {
	padding-top: 10px;
	font-size: var(--secondary-text);
	font-weight: 400;
	line-height: 2rem;
	text-align: justify;
	color: var(--pepperoni);
}

.location {
	width: 100%;
	min-width: 320px;
	height: 440px;
	display: flex;
	flex-direction: column;
	background: rgb(214, 141, 42);
	background: linear-gradient(
		180deg,
		rgba(214, 141, 42, 1) 0%,
		rgba(182, 127, 51, 1) 75%,
		rgba(116, 81, 33, 1) 100%
	);
}

h2.location__title {
	padding-top: 35px;
}

.location__card {
	width: 70%;
	margin: 0 auto;
	padding: 25px 0;
}

.location__card--description {
	padding-top: 15px;
	font-size: var(--secondary-text);
	font-weight: 400;
	line-height: 1.5rem;
	text-align: center;
	color: var(--off-white);
}

.btn {
	display: flex;
	justify-content: flex-end;
	position: sticky;
	bottom: 0;
}

.btn__button {
	display: inline-block;
	width: 40px;
	height: 40px;
	margin-right: 20px;
	font-size: 4rem;
	border-radius: 50%;
	color: rgba(66, 64, 64, 1);
	background-color: transparent;
	border: none;
}
