.about-us {
	height: auto;
}

.about-us__slider {
	flex-direction: column;
	align-items: center;
}

.about-us__slider::-webkit-scrollbar {
	background-color: none;
	height: 0;
}

.about-us__slider::-webkit-scrollbar-thumb {
	background-color: none;
}
